{% include "modules/generic/utils/container_end.html" %}
{% if page_section.photo %}
  <div id="page_section_{{ page_section.id }}" class="height-50 full-width">
    <img class="picture full-width full-height" src="{{ page_section.photo.url }}" alt="{{ page_section.header }}">
  </div>
{% elif page_section.photo_private %}
  <div id="page_section_{{ page_section.id }}" class="height-50 full-width">
    <img class="picture full-width full-height" src="{{ page_section.photo_private.url }}" alt="{{ page_section.header }}">
  </div>
{% endif %}
{% include "modules/generic/utils/container_start.html" %}
