{% include "modules/generic/utils/section_start.html" %}
{% include "modules/generic/utils/left_start.html" %}
  {% include "modules/generic/utils/side_photo.html" %}
{% include "modules/generic/utils/left_right_mid.html" %}
  {% include "modules/generic/utils/header.html" %}
  {% include "modules/generic/utils/subheader.html" %}
  {% include "modules/generic/utils/padded_content.html" %}
  {% include "modules/generic/utils/video_embed_link.html" %}
{% include "modules/generic/utils/left_right_end.html" %}
{% include "modules/generic/utils/section_end.html" %}
