autoflake==2.3.1
black==24.4.2
cave_utils==2.2.1
channels==4.1.0
daphne==4.1.2
Django==5.0.4
django-cors-headers==4.3.1
django-import-export==3.3.9
django-solo==2.2.0
djangorestframework==3.15.1
pamda>=2.5.0
pillow==10.3.0
psycopg2-binary==2.9.9
python-decouple==3.8
redis==5.0.4
type_enforced>=1.5.0
whitenoise==6.6.0
-r ./utils/extra_requirements.txt
