autoflake==1.4
black==22.8.0
cave_utils>=1.5.0b8
channels==3.0.5
Django==4.1.1
django-cors-headers==3.13.0
django-import-export==2.9.0
django-solo==2.0.0
djangorestframework==3.13.1
pamda>=2.0.0
Pillow==9.2.0
psycopg2-binary==2.9.6
python-decouple==3.6
type_enforced>=0.0.15
whitenoise==6.2.0
-r ./utils/extra_requirements.txt
-r ./cave_api/requirements.txt