autoflake==2.2.1
black==24.1.1
cave_utils==2.2.0b4
channels==4.1.0
daphne==4.1.0
Django==5.0.1
django-cors-headers==4.3.1
django-import-export==3.3.6
django-solo==2.2.0
djangorestframework==3.14.0
pamda>=2.5.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-decouple==3.8
redis==5.0.1
type_enforced>=1.4.0
whitenoise==6.6.0
-r ./utils/extra_requirements.txt
