{% extends 'base.html' %}

{% block content %}
<div class="bg-background-login">
  <div class="section-heading form-container">
    <form method="post">
      {% csrf_token %}
      <table class="table text-white table-login">
      {{ form.as_table }}
      </table>
      <div class="form-info-container">
        <a class="secondary-text-login" href="/signup" style="align-self:flex-start"><h10>Sign Up</h10></a>
        <a class="secondary-text-login" href="/reset_password" style="align-self:flex-end"><h10>Forgot Password?</h10></a>
      </div>
      <div class="form-btn-container">
        <button type="submit" class="btn btn-md btn-login btn-login" name="submit" value="True">Log In</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
