{% extends 'base.html' %}

{% block content %}
<div class="bg-site-background">
  <div class="section-heading form-container text-white">
    <div class="p-4 border border-secondary rounded-2 bg-black bg-opacity-50">
      <h1 class="main-title my-3 text-white text-center">Profile Recovery</h2>
      <div class="form-btn-container m-3" style="max-width:600px">
        <p>
          If you are registered under this email in our system, we will email you your username and a password reset link. You should recieve it shortly.
          If you do not recieve the email, be sure to check your spam folder and verify that you entered the correct email address.
        </p>
      </div>
      <div class="form-btn-container mt-3">
        <a class="cancel-text" href="/cave/auth/login/"><button type="button" class="btn btn-cancel btn-md" name="cancel">Back</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
