{% extends 'base.html' %}

{% block content %}
<div class="section-heading form-container">
  <h1 class="main-title text-center">Account Recovery</h1>
  <p class="text-center mt-5"> Send me a link to reset my password<br/><br/>Enter your <b>e-mail address</b> below</p>
  <form method="post">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <div class="form-btn-container">
      <button type="submit" class="btn btn-primary btn-lg" name="submit" value="True">Submit</button>
      <a href="/"><button type="button" class="btn btn-secondary btn-lg" name="cancel">Cancel</button></a>
    </div>
  </form>
</div>
{% endblock %}
