{% extends 'base.html' %}

{% block content %}
<div class="section-heading form-container">
  <h1 class="main-title">Change Password</h1>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <table class="table">
      {{ form.as_table }}
      </table>
      <div class="form-btn-container">
        <button type="submit" class="btn btn-primary btn-lg" name="submit" value="True">Submit</button>
      </div>
    </form>
  {% else %}
    <p>
      Error: This password reset link was invalid.<br/><br/>
      A new reset may have been requested or this reset may have already been used.<br/><br/>Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}
