{% extends 'base.html' %}

{% block content %}
<div class="bg-background-login">
  <div class="section-heading form-container">
    <h2 class="main-title text-center text-white">Account Recovery</h2>
    <p class="text-center mt-3 text-white"> Send me a link to reset my password.</p>
    <form method="post">
      {% csrf_token %}
      <table class="table table-login bg-primary text-white">
      {{ form.as_table }}
      </table>
      <div class="form-btn-container mt-3">
        <button type="submit" class="btn btn-sm btn-login" name="submit" value="True">Submit</button>
        <a class="cancel-text" href="/"><button type="button" class="btn btn-sm btn-cancel" name="cancel">Cancel</button></a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
