{% extends 'base.html' %}

{% block content %}
<div class="bg-site-background">
  <div class="section-heading form-container">
    <div class="p-4 border border-secondary rounded-2 bg-black bg-opacity-50" style="max-width: 600px;">
      <h1 class="main-title my-3 text-white text-center">Change Password</h1>
      {% if validlink %}
        <form method="post" enctype="multipart/form-data" class="mt-3">
          {% csrf_token %}
          <div id="table-wrapper">
            <table class="table table-login text-white">
            {{ form.as_table }}
            </table>
          </div>
          <div class="form-btn-container">
            <button type="submit" class="btn btn-login btn-md" name="submit" value="True">Submit</button>
          </div>
        </form>
      {% else %}
        <p>
          Error: This password reset link was invalid.<br/><br/>
          A new reset may have been requested or this reset may have already been used.<br/><br/>Please request a new password reset.
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
