/* Loading properties */
#loader-block-until-loaded {
    display: none;
}
#loader-show-until-loaded {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

/* Loader */
.loader-container {
  width: 250px;
  height: 250px;
  position: relative;
  padding: 30px auto;
  overflow: hidden;
}

.loader-item {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border-radius: 50%;
}

.loader-fs-fast {
  -webkit-animation: spin 3s infinite;
  animation: spin 3s infinite;
}

.loader-fs-med {
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}

.loader-fs-slow {
  -webkit-animation: spin 8s infinite;
  animation: spin 8s infinite;
}

.loader-rs-fast {
  -webkit-animation: rspin 4s infinite;
  animation: rspin 4s infinite;
}

.loader-rs-med {
  -webkit-animation: rspin 6s infinite;
  animation: rspin 6s infinite;
}

.loader-rs-slow {
  -webkit-animation: rspin 9s infinite;
  animation: rspin 9s infinite;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes rspin {
    from {
        -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-1080deg);
        transform: rotate(-1080deg);
    }
}


@keyframes rspin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
