/* Background and Color Scheme */
.bg-background {
  background-color: rgb(240, 240, 240);
  min-height: calc(100vh - 58px);
}

.bg-empty {
  background-color: rgba(255, 255, 255, 0);
}

.picture {
  object-fit:cover;
}

.full-width {
  width:100%;
}

.full-height {
  height:100%;
}

.height-20 {
  height:20vh;
  min-height: 100px;
}

.height-25 {
  height:25vh;
  min-height: 125px;
}

.height-35 {
  height:35vh;
  min-height: 175px;
}

.height-50 {
  height:50vh;
  min-height: 250px;
}

.profile-photo-lg {
  height: 42px;
  width: 42px;
}

.profile-photo-xl {
  height: 84px;
  width: 84px;
}

.profile-photo-md {
  height: 35px;
  width: 35px;
}

.profile-photo-sm {
  height: 24px;
  width: 24px;
}

.slight-shadow {
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.wrap-on-hover {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.wrap-on-hover:hover {
  overflow:visible;
  white-space:normal;
}

.margin-5-on-hover {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-5-on-hover:hover {
  margin-left: auto;
  margin-right: auto;
}

.btn-material-icon {
  display: flex;
  justify-content: center;
}

/* Should match media for navbar expand */
@media (max-width: 991.9px) {
    .navbar {
        overflow: auto;
        max-height: 95vh;
        align-items: flex-start;
    }
}

/* Special Code to handle nav link for various sizing */
@media (max-width: 991.9px) {
    .nav-link {
      display: flex;
      justify-content: start;
      margin-left: 10px;
    }
}

@media (min-width: 991.9px) {
    .nav-link {
      display: flex;
      justify-content: center;
    }
}

/* Nav Styles */
.nav-link:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

/* Form Styles */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 58px);
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.form-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.form-info-container {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 140px;
}

.table-login {
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
}

.table-login input {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: white;
}

th, td {
  border-bottom: none;
}

.btn-login {
  background-color:rgba(255, 255, 255);
  font-weight: bold;
}

.btn-login:hover {
  background-color:rgba(255, 255, 255, 0.7);
}

.secondary-text-login {
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.secondary-text-login:hover {
  color: rgba(255, 255, 255, 0.5);
}

.btn-cancel {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-color: white;
  border-width: 2px;
  font-weight: bold;
}

.cancel-text {
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.cancel-text:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Full Height Body */
.body-for-full-height {
  height: calc(100vh);
  width: calc(100vw);
}

body.modal-open {
  overflow-y: hidden !important;
}

/* Loading properties */
#loader-block-until-loaded {
  display: none;
}
#loader-show-until-loaded {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

/* Loader */
.loader-container {
width: 250px;
height: 250px;
position: relative;
overflow: hidden;
}

.loader-item {
position: absolute;
width: calc(100%);
height: calc(100%);  
}