{% extends 'base.html' %}

{% block content %}
  <div class="bg-site-background">
    <div class="section-heading form-container">
      <div class="p-4 border border-secondary rounded-2 bg-black bg-opacity-50">
        <h1 class="main-title my-3 text-white text-center">{{ form_title }}</h1>
        <form method="post" enctype="multipart/form-data" class="mt-3">
          {% csrf_token %}
          <div id="table-wrapper">
            <table class="table table-login text-white">
            {{ form.as_table }}
            </table>
          </div>
          <div class="form-btn-container mt-3">
            <button type="submit" class="btn btn-md btn-login" name="submit" value="True">{{ submit_button }}</button>
          </div>
          <br/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  (() => {
    const tableWrapper = document.getElementById("table-wrapper");
    const matches = tableWrapper.querySelectorAll("input, textarea");
    matches.forEach((match) => {
      if(match.type === 'checkbox')
        match.classList.add("form-check-input");
      else if(match.type === 'file')
        match.classList.add("form-control-file");
      else
        match.classList.add("form-control");
    });
  })();
  {% if error %}
  (() => {
    alert('{{ error }}');
  })();
  {% endif %}
</script>
{% endblock %}
