  <ul class="navbar-nav mr-auto">
    {% if globals.show_app_page and access_dict.status == 'accepted' %}
    <li class="nav-item">
      <a class="nav-link {{ app_active }}" href="/cave/workspace/" title="App" aria-label="App">
        <span class="material-icons" aria-hidden="true">interactive_space</span>
        <p class="d-inline d-lg-none mx-3">App</p>
      </a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link {{home_active}}" href="/cave/info/" title="Info" aria-label="Info">
        <span class="material-icons" aria-hidden="true">info</span>
        <p class="d-inline d-lg-none mx-3">Info</p>
      </a>
    </li>
    {% if globals.show_custom_pages %}
    <li class="nav-item d-inline dropdown">
      <a
        class="nav-link {{custom_page_active}}"
        href="#"
        id="CustomPageDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        title="{{ globals.custom_pages_name }}"
        aria-label="{{ globals.custom_pages_name }}"
        >
        <span class="material-icons" aria-hidden="true">view_carousel</span>
        <p class="d-inline d-lg-none mx-3">{{ globals.custom_pages_name }}</p>
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="CustomPageDropdown" id="CustomPageDropdownItems">

      </div>
    </li>
    {% endif %}
    {% if access_dict.access %}

      {% if globals.show_people_page %}
      <li class="nav-item">
        <a class="nav-link {{ people_active }}" href="/cave/people/" title="People" aria-label="People">
          <span class="material-icons" aria-hidden="true">people</span>
          <p class="d-inline d-lg-none mx-3">People</p>
        </a>
      </li>
      {% endif %}
    {% else %}
      <!-- TODO: Special No Access Page Here -->
    {% endif %}

  </ul>
