<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="ProfileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="img-responsive picture rounded-circle profile-photo-sm slight-shadow" src="{{ user.photo.url }}" alt="{{ user }} Profile Photo" align="center"/>
    <p class="d-inline d-lg-none mx-3">Profile Settings</p>
  </a>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="ProfileDropdown">
    {% if globals.allow_user_edit_info %}
    <a class="dropdown-item" href="/app/profile/">Edit Profile</a>
    {% endif %}
    <a class="dropdown-item" href="/app/change_password/">Change Password</a>
  </div>
</li>
{% if access_dict %}
  {% include "modules/base/warning_pages.html" %}
{% endif %}
{% if user.is_staff %}
  {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" href="/app/admin/">
        <span class="material-icons">admin_panel_settings</span>
        <p class="d-inline d-lg-none mx-3">Admin</p>
      </a>
    </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/app/staff/">
      <span class="d-inline material-icons">admin_panel_settings</span>
      <p class="d-inline d-lg-none mx-3">Admin</p>
    </a>
  </li>
  {% endif %}
{% endif %}
<li class="nav-item"><a class="nav-link" href="/app/logout/">
  <span class="material-icons">logout</span>
  <p class="d-inline d-lg-none mx-3">Logout</p>
</a></li>
