<nav aria-label="Page navigation">
  <ul class="pagination" style="justify-content: center;">
    {% if page > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ page_url }}{{ page|add:-1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="{{ page_url }}{{ page|add:-1 }}">{{ page|add:-1 }}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="{{ page_url }}{{ page }}">{{ page }}</a></li>
    {% if page != num_pages %}
    <li class="page-item"><a class="page-link" href="{{ page_url }}{{ page|add:1 }}">{{ page|add:1 }}</a></li>
    <li class="page-item">
      <a class="page-link" href="{{ page_url }}{{ page|add:1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
